$black-3: #222222;
$black-7: #282828;
$black-13: rgba(0, 0, 0, 0.14);
$black-14: rgba(0, 0, 0, 0.5);
$black-16: #525455;
$black-20: rgba(0, 0, 0, 0.32);
$black-35: rgba(151, 151, 151, 0.5);
$blue: #2269c9;
$blue-2: #0576C8;
$blue-8: #4cb2ff;
$blue-18: #649AE3;
$gray-1: #6E6E6E;
$gray-2: #747474;
$gray-10: #5f676f;
$gray-13: #f4f5f7;
$gray-22: #d3d3d3;
$gray-24: #C1C1C1;
$gray-27: #656970;
$gray-31: #e3e3e3;
$gray-51: #e6e6e6;
$gray-67: #e8e8e8;
$gray-80: #dadada;
$gray-81: #EFF5FB;
$gray-88: #979797;
$gray-94: #DBD7D7;
$gray-112: #ededf1;
$gray-121: #E9E9E9;
$gray-123: #E7E8EA;
$gray-124: #D2D2D2;
$red-3: #cc1d39;
$red-15: #ff480a;
$white: #fff;
